body{
font-family:Calibri, Arial;
background:#0b1d3a;
color:white;
padding:20px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
color:black;
}

th{
background:#1b3b6f;
color:white;
padding:10px;
border:1px solid black;
}

td{
padding:10px;
border:1px solid black;
text-align:center;
}

td img{
width:70px;
border-radius:8px;
border:1px solid black;
}

.resultBox{
margin-top:30px;
padding:15px;
background:white;
color:black;
border:2px solid black;
width:60%;
margin-left:auto;
margin-right:auto;
}

#winnerBox{
color:green;
font-size:26px;
margin-top:10px;
}
