body{
font-family:Calibri, Arial;
background:linear-gradient(270deg,#021024,#032859,#021024);
background-size:600% 600%;
animation:bgmove 20s ease infinite;
color:white;
padding:20px;
text-align:center;
}

@keyframes bgmove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

.screen{min-height:100vh;}
.center{display:flex;justify-content:center;align-items:center;}
.hidden{display:none;}

.card{
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:15px;
}

button{
padding:12px 30px;
font-size:18px;
border-radius:20px;
border:none;
cursor:pointer;
background:gold;
}

.title{color:gold;}

.timerBox{
margin:15px;
font-size:22px;
background:rgba(0,0,0,0.5);
padding:10px;
border-radius:10px;
display:inline-block;
}

table{
width:100%;
border-collapse:collapse;
background:white;
color:black;
margin-top:15px;
}

th,td{
border:1px solid black;
padding:10px;
}

th{
background:#1b3b6f;
color:white;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
margin-top:15px;
}

.grid div{
background:white;
color:black;
border-radius:10px;
padding:10px;
}

.grid img{
width:100%;
border-radius:8px;
}

.resultBox{
margin-top:30px;
background:white;
color:black;
padding:20px;
border-radius:10px;
width:70%;
margin-left:auto;
margin-right:auto;
}

#winnerBox{
color:green;
font-size:28px;
margin-top:10px;
}
